<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FranceInter</title>
</head>
<body>

<form action="/" method="post" class="form-example">
  <div class="form-example">
    <label for="message">Quel est votre message : </label>
    <input type="text" name="message" id="message" required>
  </div>
  <div class="form-example">
    <label for="number">Quel est le nombre de personnes autorisées : </label>
    <input type="number" name="number" id="number" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Envoyer">
  </div>
</form>

</body>
</html>